/* Project Header */
.project {
   position: relative;
}

.project-title {
   color: #3E444A;
   font-size: 128px;
   font-weight: bold;
   text-transform: uppercase;
}

.project-subTitle {
   color: #ffffff;
   font-size: 40px;
   font-weight: bold;
   position: absolute;
   top: 35%;
   left: 43%;
}

.project hr {
   width: 5em;
   background: #20C997;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   padding: 2px;
   position: absolute;
   top: 69%;
   left: 47%;
}

/* Responsive */
@media only screen and (max-width: 768px) {
   .project-title {
      font-size: 90px;
   }

   .project-subTitle {
      font-size: 30px;
      top: 33%;
      left: 41%;
   }

   .project hr {
      top: 68%;
      left: 45%;
   }
}

@media only screen and (max-width: 576px) {
   .project-title {
      font-size: 60px;
   }

   .project-subTitle {
      font-size: 20px;
      top: 33%;
      left: 42%;
   }

   .project hr {
      top: 69%;
      left: 46%;
      width: 4em;
   }
}

