@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Manrope:wght@400;500;600;700;800&display=swap');

/* Skills card */
.skill-card {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #292D32;
   border-radius: 6px;
   cursor: pointer;
   transition: 0.4s;
   box-shadow: 0.5px 0.5px 6px 1px #292D32;
}

.skill-card:hover {
   box-shadow: 0.5px 0.5px 6px 1px #20C997;
}
