.banner {
   display: flex;
   justify-content: center;
   align-items: center;
}

.banner-content h1 {
   font-size: 60px;
   font-weight: bold;
}

.banner-content h2 {
   font-size: 36px;
   font-weight: bold;
   margin-bottom: 1em;
}

/* Circle animation */
.box {
   position: relative;
   width: 400px;
   height: 400px;
   background-color: #2A2C39;
   border-radius: 50%;
   overflow: hidden;
   z-index: 99;
}

.box::before {
   content: '';
   position: absolute;
   inset: -10px 140px;
   background: linear-gradient(315deg, #00ccff, #1BAA80);
   transition: 0.5s;
   animation: animate 4s linear infinite;
}

.box:hover::before {
   inset: -20px 0px;
}

@keyframes animate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.box::after {
   content: '';
   position: absolute;
   inset: 6px;
   background-color: #252734;
   border-radius: 50%;
   z-index: 1;
}

.content {
   position: absolute;
   inset: 30px;
   border: 6px solid #070a1c6b;
   z-index: 3;
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

.text {
   display: none;
}

.content img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   object-fit: cover;
   transition: 0.5s;
   pointer-events: none;
}

.box:hover .content img {
   opacity: 0;
}

.box:hover .text {
   display: block;
}

/* scroll-down */
.scroll-down {
   width: 30px;
   height: 50px;
   border: 2px solid #798792;
   position: absolute;
   left: 50%;
   bottom: 20px;
   border-radius: 50px;
   cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
   content: '';
   position: absolute;
   top: 20%;
   left: 50%;
   border: 2px solid #798792;
   height: 10px;
   width: 10px;
   transform: translate(-50%, -90%) rotate(45deg);
   border-top: transparent;
   border-left: transparent;
   animation: scroll-down-animation 1s ease-in-out infinite;
   transition: 1s;
}

.scroll-down::after {
   top: 30%;
   animation-delay: 0.2s;
}

@keyframes scroll-down-animation {
   0% {
      opacity: 0;
   }
   30% {
      opacity: 1;
   }
   60% {
      opacity: 1;
   }
   100% {
      opacity: 0;
      top: 90%
   }
}

/* Responsive */
@media only screen and (max-width: 768px) {
   .banner {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
   }

   .banner-content button {
      margin-bottom: 3em;
   }
}

@media only screen and (max-width: 576px) {
   .box {
      width: 300px;
      height: 300px;
   }

   .banner-content h1 {
      font-size: 45px;
      margin-top: 20px;
   }

   .banner-content h2 {
      font-size: 30px;
   }
}

