.box {
   position: relative;
   width: 400px;
   height: 400px;
   background-color: #2A2C39;
   border-radius: 50%;
   overflow: hidden;
}

.box::before {
   content: '';
   position: absolute;
   inset: -10px 140px;
   background: linear-gradient(315deg, #00ccff, #1BAA80);
   transition: 0.5s;
   animation: animate 4s linear infinite;
}

.box:hover::before {
   inset: -20px 0px;
}

@keyframes animate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.box::after {
   content: '';
   position: absolute;
   inset: 6px;
   background-color: #252734;
   border-radius: 50%;
   z-index: 1;
}

.content {
   position: absolute;
   inset: 30px;
   border: 6px solid #070a1c6b;
   z-index: 3;
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

.text {
   display: none;
}

.content img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   object-fit: cover;
   transition: 0.5s;
   pointer-events: none;
}

.box:hover .content img {
   opacity: 0;
}

.box:hover .text {
   display: block;
}

