/* About Header */
html {
   scroll-behavior: smooth;
}

.about {
   position: relative;
}

.about-title {
   color: #3E444A;
   font-size: 128px;
   font-weight: bold;
   text-transform: uppercase;
}

.about-subTitle {
   color: #ffffff;
   font-size: 40px;
   font-weight: bold;
   position: absolute;
   top: 35%;
   left: 39%;
}

.about hr {
   width: 5em;
   background: #20C997;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   padding: 2px;
   position: absolute;
   top: 66%;
   left: 47%;
}

/* Responsive */
@media only screen and (max-width: 768px) {
   .about-title {
      font-size: 90px;
   }

   .about-subTitle {
      font-size: 30px;
      top: 31%;
      left: 36%;
   }

   .about hr {
      top: 65%;
      left: 45%;
   }
}

@media only screen and (max-width: 576px) {
   .about-title {
      font-size: 60px;
   }

   .about-subTitle {
      font-size: 20px;
      top: 33%;
      left: 36%;
   }

   .about hr {
      top: 65%;
      left: 46%;
      width: 4em;
   }
}

